
input {
	width: 50%;
	display: inline;
}

.json-key {
	display: inline;
}

#saveButton {
	display: block;
}
 /* Create css match for all html inputs of type checkbox */
input[type=checkbox] {
	display: inline;
	width: auto;
}


