input {
	display: inline;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

input[type=text] {
	min-width: 600px;
}

input[type=number] {
	width: auto;
}

input[type=checkbox] {
	display: inline;
	width: auto;
}

#filterInput {
	width: auto;
	display: block;
}

.json-key {
	display: inline;
}

#saveButton {
	display: block;
}
